#!/usr/bin/make -f
%:
	dh  $@ --with python2 --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- \
		LDFLAGS="-Wl,--as-needed" \
		--disable-static \
		--enable-gtk2 \
		--enable-gtk3 \
		--enable-xim \
		--disable-gtk-doc \
		--enable-introspection \
		--libexec=/usr/lib/$(DEB_BUILD_MULTIARCH)/ibus

override_dh_makeshlibs:
	dh_makeshlibs -Nibus-gtk -Nibus-gtk3

override_dh_auto_test:

